<!DOCTYPE html>
<html lang="en">
<head>
  <title>Debate web app</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>

  <!-- <link rel="stylesheet" type="text/css" href="mystyle.css"> -->

</head>
<body ng-app="myApp" ng-controller="myCtrl">
 
<div class="container">
  <div class="panel-group">


    <div class="panel panel-primary">

      <h2 class="panel-heading"><center>토론방 목록</center></h2>
      
      <div class="panel-body">
        
        <table class="table grid table-bordered">

        <tr>
          <td>
          
              <div class="panel panel-primary">
                <div class="panel-heading text-nowrap text-center"  onclick="window.location.href='/main'">
                  토론방 목록
                </div>
              </div>
            <br>
              <div class="panel panel-info">
                <div class="panel-heading text-nowrap text-center" onclick="window.location.href='/'">
                  방 만들기
                </div>
              </div>

          </td>

          <td>
          
            
            <p class="btn-group btn-group-justified">
            <a href="#" class="btn btn-success">
            방 목록
            </a>
            </p>
   
             
            
               <% roomlist.forEach(function(roomlist) { %>
               <div class="well text-center">
                    <strong ng-model="roomId"> 방(<%= roomlist.id %>) </strong>
<!--                     <strong ng-model="roomTitle"> 방 이름 : <%= roomlist.title %> </strong> -->
                    <strong ng-model="roomSubject"> &nbsp; 주제 : <%= roomlist.subject %> </strong>
                    <strong ng-model="agreeNum"> &nbsp; 찬성측 인원 : <%= roomlist.agreeNum %> </strong>
                    <strong ng-model="disagreeNum"> &nbsp; 반대측 인원 : <%= roomlist.disagreeNum %> </strong>
              <div class="btn-group pull-right">
           
                    <form action="jr" method="post">
                      <input type="hidden" name = "room_id" value='<%= roomlist.id %>'>
                      <input type="hidden" name = "type" value='true'>
                      <input type="submit" value="찬성">
                    </form>
                    <form action="jr" method="post">
                      <input type="hidden" name = "room_id" value='<%= roomlist.id %>'>
                      <input type="hidden" name = "type" value='false'>
                      <input type="submit" value="반대">
                    </form>
            </div>
          </div>
<!--                     <button ng-click="click('<%= roomlist.id %>')">주제 : <%= roomlist.subject %></button>-->
                     <br>
                   <!--  <li><%= roomlist.subject %></li> -->
                    <% }); %>

           <!--  <p class="btn-group btn-group-justified">
            <a href="#" class="btn btn-warning">
            진행중
            </a>
            </p>

            <p class="btn-group btn-group-justified">
            <a href="/" class="btn btn-default">
            방 만들기
            </a>
            </p> -->


          </td>  

         
        </tr>
        </table>     
        

      </div>
    </div>

  </div>
</div>
</body>
</html>